/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      - 
 * @created_by  - kawsar bin siraj
 * @created_at  - 
 * @modified_by -
 */


/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');
//font-family: 'Poppins', sans-serif;
/* fonts import -END */


.ddd{
    background-color: rgb(68, 36, 24);
    height: 100vh;
    width: 100% ;
}


/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    @media (max-width:992px) {
        .navbar-collapse {
            --sidebar-width: 280px;
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            width: var(--sidebar-width);
            background-color: #fff;
            transform: translateX(-100%);
            transition: all .4s 0s linear;
            z-index: 100;
            display: block !important;

            &.show {
                transform: translateX(0%);
            }

            .social-network {
                position: absolute;
                bottom: 25px;
                left: 50%;
                transform: translateX(-50%);
                width: calc(var(--sidebar-width) - 35px);

                li {
                    a {
                        background-color: #f2f2f2;
                        border: 1px solid #DDDDDD;
                        margin-right: 7px;
                        transition: all .3s;

                        &:hover {
                            background-color: var(--clr-yellow);
                            border-color: var(--clr-yellow);
                            color: #fff;
                        }
                    }
                }
            }

            .dropdown {
                >.dropdown-menu {
                    --reduce: 30px;
                    top: initial !important;
                    bottom: 100% !important;
                    z-index: 120;
                    position: absolute !important;
                    width: calc(100% - var(--reduce));
                    left: calc(var(--reduce) / 2);
                }
            }

            .nav-item {
                padding: 5px 0;
            }
        }

        .nav-toggle-button {
            #search {
                background-color: transparent;
                border-color: transparent;
                max-width: 200px;
                width: 50px;
                background-repeat: no-repeat;
                background-size: 16px;
                background-position: calc(100% - 16px) center;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
                transition: all .3s;
                font-size: 14px;

                &::placeholder {
                    color: transparent;
                }

                &:focus {
                    width: 100%;
                    border-color: #DDDDDD;
                    background-color: #fff;

                    &::placeholder {
                        color: var(--theme-gray);
                    }
                }
            }
        }

        .navbar-toggler {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .navbar-nav {
        .nav-link {
            transition: all 0.5s;
            color: var(--clr-gray);
            font-weight: 600;
            font-size: 15px;

            &:hover {
                color: var(--clr-yellow);
            }
        }

        .dropdown-toggle {
            display: inline-flex;
            align-items: center;

            &::after {
                border: 0;
                font-family: 'Nioicon' !important;
                content: '\ea23';
                line-height: 0;
                font-size: 12px;
                margin-left: 8px;
            }
        }
    }
}


